body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #663074;
  min-height: 100vh;
}

header {
  background: #414042;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-top: 25px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #4b4a4a;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #845ec2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #6a4c9c;
  transform: scale(1.02);
}

.list {
  margin-top: 25px;
}

.item {
  background: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid #845ec2;
}

.positivo { color: green; font-weight: bold; }
.negativo { color: red; font-weight: bold; }

.botoes {
  display: flex;
  gap: 10px;
}

.edit-btn, .delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.edit-btn { background: #00c9a7; }

.delete-btn { background: #ff6f91; }

.total {
  margin-top: 20px;
  background: #845ec2;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .container { margin: 10px; }
}
